@import '~bootstrap/scss/bootstrap';

body {
  background: #d4ebf2;
}

h1 {
  background-color: #86c5da;
  padding: 20px;
  font-family: 'Righteous', cursive;
}

legend {
  text-align: center;
  font-family: 'Righteous', cursive;
}

fieldset {
  padding: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;

}

input {
  border-color: #86c5da;
}

footer {
  background-color: #86c5da;
  bottom: 0;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: right;
}

// .wrap {
//   display: inline-flex;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
//   justify-content: center;
// }

.container {
  max-width: 400px;
  padding-bottom: 50px;
  margin-bottom: 500px;
}

.box {
  align-items: center;
  border: 5px solid blue;
  display: flex;
  font-size: 100px;
  height: 130px;
  justify-content: center;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
}

.hidden {
  display: none;
}

.top {
  border-top: 0;
}

.left {
  border-left: 0;
}

.right {
  border-right: 0;
}

.bottom {
  border-bottom: 0;
}
