@import '~bootstrap/scss/bootstrap';
p {
  text-align: center;
}

.box {
  border: 1px solid black;
  font-size: 60px;
  height: 220px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}
